@import './variables';

@media screen and (max-width: 479px){
    section{
        &.landing{
            padding: 40px 24px;
        }
    }
}

@media screen and (min-width: 480px){
    section{
        &.landing{
            padding: 40px;
        }
    }
}

@media screen and (max-width: 712px){
    .btn-icon-menu{
        display: block;
    }

    .header{
        padding: 0 40px;
        .main-nav{
            display: none !important;
        }
    }

    section{
        &#hero{
            .banner{
                flex-wrap: wrap;
                .title{
                    min-width: 190px;
                    max-width: 306px;
                }
                .location{
                    min-width: 295px;
                    max-width: 306px;
                }
            }
        }
    }
}

@media screen and (min-width: 713px){
    .btn-icon-menu{
        display: none !important;
    }

    .header{
        padding: 0 80px;

        .main-nav{
            display: flex !important;
        }
    }
    section{
        &.section, &.landing{
            padding: 40px 80px;
        }
        &#hero{
            .banner{
                flex-wrap: nowrap;
                .title{
                    min-width: 195px;
                }
                .location{
                    min-width: 338px;
                }
            }
        }
        &#menu{
            .menu-category{
                // max-width: 
            }
        }
    }
}

@media screen and (max-width: 943px){
    // html{scroll-padding-top: 64px;}
    svg{
        width: 16px;
        height: 16px;
    }
    %btn{ 
        padding: 8px 16px;
    }
    .btn-menuitem{padding: 4px 0 2px;}
    .btn-icon{
        &, &-menu{
            padding: 12px;
        }
        &-menu svg{
            width: 18px;
            height: 18px;
        }

    }
    
    .icon-padding{
        padding: 8px;
    }

    body{
        &,p,button{@include set-text(body, small);}
        h1{ @include set-text(heading, 1-small); }
        h2{ @include set-text(heading, 2-small); }
        h3{ @include set-text(heading, 3-small); }
        h4 { @include set-text(heading, 4-small); }
        h5 { @include set-text(heading, 5-small); }
        h6 { @include set-text(heading, 6-small); }

        a{@include set-text(body, small-semibold);}
    }

    .header{
        .main-nav{
            gap: 32px;
            .btn-menuitem{
                @include set-text(header, menu-item-small);
            }
            ul{gap: 24px;}
        }
        &-logo{
            width: 80px;
            height: 64px;
        }
    }

    section{
        .section-heading, .menu-category{
            width: 100%;
            max-width: 553px;
        }
        
        .section{
            &-heading{
                gap: 4px;
                .description{@include set-text(body, small-semibold);}
            }
            &-body{gap: 24px;}
        }

        &#hero{
            gap: 40px;
            .banner{
                gap: 20px;
                .title{
                    gap: 4px;
                    padding-top: 8px;
                    flex: 1;
                    &-top{@include set-text(display, 2-small);}
                    &-bottom{@include set-text(display, 1-small);}
                }
                .location{
                    gap: 8px;
                    flex: 1;
                    &-graphic{
                        width: 80px;
                        height: 80px;
                    }
                    &-card{
                        gap: 4px;
                        padding: 16px 16px 16px 8px;
                        flex: 1;
                    }
                    &-address{
                        @include set-text(display, 2-small);
                        gap: 8px;
                        ul{
                            gap: 4px;
                            @include set-text(body, caption-small-semibold)
                        }
                    }
                }
            }
            .countdown{
                gap: 8px;
                &-heading{@include set-text(body, small-semibold);}
                &-timer{
                    flex-wrap: wrap;
                    gap: 20px;
                    .timer-block{
                        width: 123px;
                        gap: 8px;
                        &-number{
                            @include set-text(display, 1-small);
                            padding: 4px 0;
                        }
                        &-value{@include set-text(body, small-semibold);}
                    }
                }
            }
        }

        &#menu{
            padding-top: 64px;
            padding-bottom: 64px;
            gap: 16px;
            .menu-category{
                // width: 553px;
                gap: 4px;
                &-heading{
                    @include set-text(heading, 1-small);
                }
                &-list{
                    gap: 24px;
                    .list-item{
                        &-info{
                            gap: 24px;
                            .description{
                                @include set-text(body, caption-small-semibold);
                                padding-top: 4px;
                            }
                        }
                    }
                }
            }
        }

        &#contact{
            gap: 16px;
            padding-bottom: 160px;
            .contact{
                &-list{gap: 20px;}
                &-card{
                    width: 100%;
                    // gap: 4px;
                    padding: 16px 0;
                    &-info{gap: 4px;}
                    svg{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 944px){
    html{scroll-padding-top: 96px;}
    svg{
        width: 24px;
        height: 24px;
    }
    // input[type=text], .btn-header-cta{padding: 12px 16px;}
    %btn{
        // @include set-text(body, button);
        padding: 16px 20px;
    }
    .btn-menuitem{padding: 6px 0 4px;}
    .btn-icon{
        &, &-menu{
            padding: 12px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
    
    .icon-padding{
        padding: 12px;
    }

    body{
        &,p,button{@include set-text(body, large);}
        h1{ @include set-text(heading, 1); }
        h2{ @include set-text(heading, 2); }
        h3{ @include set-text(heading, 3); }
        h4 { @include set-text(heading, 4); }
        h5 { @include set-text(heading, 5); }
        h6 { @include set-text(heading, 6); }

        a{@include set-text(body, large-semibold);}
    }

    .header{
        padding: 0 120px;
        .main-nav{
            gap: 64px;
            .btn-menuitem{
                @include set-text(header, menu-item);
            }
            ul{gap: 40px;}
        }
        &-logo{
            width: 120px;
            height: 80px;
        }
    }

    section{
        &.landing, &.section{
            padding: 80px 120px;
        }
        .section-heading, .menu-category{
            width: calc(6 * (100% - 24px) / 8 + 24px);
            max-width: none;
        }
        .section{
            &-heading{
                gap: 8px;
                .description{@include set-text(body, large-semibold);}
            }
            &-body{gap: 40px;}
        }

        &#hero{
            gap: 40px;
            .banner{
                flex-wrap: nowrap;
                gap: 64px;
                .title{
                    min-width: unset;
                    width: calc(3 * (100% + 24px) / 8 - 24px);
                    gap: 8px;
                    padding-top: 16px;
                    &-top{@include set-text(display, 2);}
                    &-bottom{@include set-text(display, 1);}
                }
                .location{
                    min-width: unset;
                    max-width: calc(4 * (100% + 24px) / 8 - 24px);
                    width: 100%;
                    gap: 16px;
                    &-graphic{
                        width: 96px;
                        height: 96px;
                    }
                    &-card{
                        gap: 8px;
                        padding: 16px 24px 16px 8px;
                        flex: 1;
                    }
                    &-address{
                        @include set-text(display, 2);
                        gap: 8px;
                        padding: 8px 0;
                        ul{
                            @include set-text(body, caption-semibold);
                            gap: 4px;
                        }
                    }
                }
            }
            .countdown{
                gap: 8px;
                &-heading{@include set-text(body, large-semibold);}
                &-timer{
                    gap: 24px;
                    width: calc(4 * (100% + 24px) / 8 - 24px);
                    .timer-block{
                        flex: 1;
                        gap: 8px;
                        &-number{
                            @include set-text(display, 1);
                            padding: 8px 0;
                        }
                        &-value{@include set-text(body, large-semibold);}
                    }
                }
            }
        }

        &#menu{
            gap: 24px;
            .menu-category{
                gap: 8px;
                &-heading{
                    @include set-text(heading, 1);
                }
                &-list{
                    gap: 32px;
                    .list-item{
                        &-info{
                            gap: 40px;
                            .description{
                                @include set-text(body, caption-semibold);
                                padding-top: 4px;
                            }
                        }
                    }
                }
            }
        }
        &#contact{
            gap: 24px;
            padding-bottom: 200px;
            .contact{
                &-list{gap: 24px;}
                &-card{
                    width: calc(4 * (100% + 24px) / 12 - 24px);
                    gap: 4px;
                    padding: 24px 0;
                    &-info{gap: 8px;}
                    svg{
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px){
    .header{
        padding: 0 160px;
    }
    section{
        &.landing, &.section{
            padding: 80px 160px;
        }
        .section-heading, .menu-category{
            width: calc(8 * (100% + 24px) / 12 - 24px);
        }

        &#hero{
            .banner{
                .title, .location{width: fit-content;}
            }
            .countdown-timer{
                width: calc(6 * (100% + 24px) / 12 - 24px);
            }
        }
    }
}

*, :after, :before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: get-color(light, primary-variant);
    &-container{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    &-nav{
        width: 100%;
        justify-content: flex-end;
        &, .main-nav{
            display: flex;
            align-items: center;
            ul{
                list-style-type: none;
                display: flex;
            }
        }
    }
}

.modal-container{
    display: none;
    padding: 24px;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: get-color(light, primary-variant);

    &.open{display: block;}
    .main-nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 24px;

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 16px;
        }
    }
}

%btn{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    border-radius: 12px;
    cursor:pointer;
    transition: background-color .2s ease, color .2s;
    height: fit-content;
}
.btn-primary{
    @extend %btn;
    gap: 8px;
    background: get-color(light, secondary);
    color: get-color(light, on-secondary);
    // box-shadow: 0 10px 18px -8px rgba(16, 43, 96, 0.45);
    text-decoration: none;

    svg{fill: get-color(light, on-secondary);}
    &:hover, &:active{
        background: get-color(light, secondary-hover);
        color: get-color(light, on-secondary);
    }
}
.btn-secondary{
    @extend %btn;
    gap: 8px;
    outline: 1px solid get-color(light, primary-container-2);
    outline-offset: -1px;
    // background: get-color(grc-light, on-secondary-variant);
    background: none;
    color: get-color(light, secondary);
    text-decoration: none;

    svg{fill: get-color(light, secondary);}
    &:hover, &:active{
        background: get-color(light, secondary-container);
        color: get-color(light, secondary);
    }
}
.btn-menuitem{
    @extend %btn;
    background: none;
    border-bottom: 2px solid get-color(light, secondary-container);
    color: get-color(light, on-primary);
    border-radius: 0;

    &:hover, &:active, &.btn-active{
        color: get-color(light, tertiary);
        border-bottom-color: get-color(light, tertiary-container);
    }
}
.btn-icon{
    &, &-menu{@extend %btn;}
    line-height: 0;
    outline: 1px solid get-color(light, primary-container-2);
    outline-offset: -1px;
    &, &-menu{
        line-height: 0;
        height: fit-content;
        border-radius: 100px;
        background: none;
        border: none;
        svg{fill: get-color(light, on-primary);}
    }

    &:hover, &:active, &.btn-active{
        background-color: get-color(light, secondary-container);
        svg{fill: get-color(light, tertiary);}
    }

    &-menu, &#ig-link{
        // svg{fill: get-color(light, secondary-container);}
        &:hover, &:active, &.btn-active{
            background-color: get-color(light, primary-variant-hover);
            outline-color: get-color(light, tertiary-container);
            svg{fill: get-color(light, on-primary);}
        }
    }

    &-menu{
        position: relative;
        svg.close{position: absolute;}
        .rotate{
            visibility: hidden;
            opacity: 0;
            transform: rotate(90deg);
            transition: transform .9s, opacity .4s;
        }
        .rotate-reset{
            visibility: visible;
            opacity: 1;
            transform: rotate(0);
            transition: transform .6s, opacity .4s;
        }
    }
}

section.landing, section.section{
    display: flex;
    flex-direction: column;
    align-items: center;

    .section{
        &-heading{
            display: flex;
            flex-direction: column;
            &-container{
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
        &-body{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &#hero{
        position: relative;
        background-color: get-color(light, secondary);

        .icon-deco{
            position: absolute;
            svg{fill: get-color(light, secondary-container);}
            opacity: 0.35;

            &#store{
                rotate: -12deg;
                top: 70%;
                left: 18%;
                svg{scale: 13;}
            }
            &#kitchen{
                rotate: -8deg;
                top: -20px;
                left: 55%;
                svg{scale: 8;}
            }
            &#plant{
                rotate: 18deg;
                top: 88%;
                right: 23%;
                svg{scale: 8;}
            }
        }

        .banner{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            .title{
                display: flex;
                flex-direction: column;
                color: get-color(light, on-secondary);
            }
            .location{
                display: flex;
                align-items: center;
                &-graphic{
                    border-radius: 100px;
                    background-color: get-color(light, tertiary-container);
                }
                &-card{
                    display: flex;
                    background-color: get-color(light, secondary-container);
                }
                &-address, ul{
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                }
            }
        }
        .countdown{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            &-heading{color: get-color(light,on-secondary);}
            &-timer{
                display: flex;
                justify-content: center;
                .timer-block{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & > *{
                        text-align: center;
                        width: 100%;
                        background-color: get-color(light, secondary-container);
                    }
                }
            }
        }
    }

    &#menu{
        background-color: get-color(light,secondary-container);
        color: get-color(light, secondary);
        .menu-category{
            display: flex;
            flex-direction: column;
            // width: 100%;
            &-heading{
                //
            }
            &-list{
                display: flex;
                flex-direction: column;
                .list-item{
                    // display: flex;
                    // flex-direction: column;
                    list-style: none;
                    font-weight: 600;
                    &-info{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    &#contact{
        .contact{
            &-list{
                display: flex;
                justify-content: center;
                width: 100%;
            }
            &-card{
                &, &-info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: get-color(light, secondary-container);
                    &>*{width: fit-content;}
                }
            }
        }
    }
}